@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ocultar {
  display: none;
}

.game {
  font-family: "Roboto", sans-serif;
}
.game .info-gamers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 20px;
}
.game .info-gamers div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.game .info-gamers #tu {
  background-color: #e7091fe5;
}
.game .info-gamers #cpu {
  background-color: #3f4454c4;
}

header {
  font-family: "Stick No Bills", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1cece;
  background-color: #eeeff0;
}
header h2 {
  margin: 20px;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin: 20px;
}
header ul li a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.tamaño, .grid-computer, .grid-user {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.grid div {
  width: 35px;
  height: 35px;
  outline: 1.5px solid white;
  border-radius: 5px;
  transition: 0.1s ease all;
}
.grid div:hover {
  background-color: #91d0f1;
}

.grid-user {
  background-color: #b1def6;
}

.grid-computer {
  background-color: #adaeaf;
}

.destroyer {
  background-color: #adaeaf;
}

.submarine {
  background-color: #adaeaf;
}

.cruiser {
  background-color: #adaeaf;
}

.battleship {
  background-color: #adaeaf;
}

.carrier {
  background-color: #adaeaf;
}

.boom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ece8e8;
}
.boom .fas {
  color: #e7091fe5;
}

.miss {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ece8e8;
}
.miss .fas {
  color: #5cb8e9;
}

.grid-display {
  width: 800px;
  display: flex;
  height: 220px;
  background-color: yellow;
}
.grid-display .ships-container, .grid-display .carrier-container, .grid-display .battleship-container, .grid-display .cruiser-container, .grid-display .submarine-container, .grid-display .destroyer-container {
  height: 35px;
  display: flex;
  margin: 10px;
}
.grid-display .ship div {
  width: 35px;
  height: 35px;
}
.grid-display .destroyer-container {
  width: 70px;
  background-color: #adaeaf;
}
.grid-display .destroyer-container-vertical {
  width: 35px;
  height: 70px;
  flex-wrap: wrap;
}
.grid-display .submarine-container {
  width: 105px;
  background-color: #adaeaf;
}
.grid-display .submarine-container-vertical {
  width: 35px;
  height: 105px;
  flex-wrap: wrap;
}
.grid-display .cruiser-container {
  width: 105px;
  background-color: #adaeaf;
}
.grid-display .cruiser-container-vertical {
  width: 35px;
  height: 105px;
  flex-wrap: wrap;
}
.grid-display .battleship-container {
  width: 140px;
  background-color: #adaeaf;
}
.grid-display .battleship-container-vertical {
  width: 35px;
  height: 140px;
  flex-wrap: wrap;
}
.grid-display .carrier-container {
  width: 175px;
  background-color: #adaeaf;
}
.grid-display .carrier-container-vertical {
  width: 35px;
  height: 140px;
  flex-wrap: wrap;
}

.isHorizontal {
  display: flex;
}

.gameController {
  font-family: "Stick No Bills", sans-serif;
  font-size: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
